$jonquil: #ebc30e;
$coral: #e47c84;
$pullman: #3c3116;
$moss: #97aa52;
$ash: #b0cdaf;
$pine: #2e3424;
$blue: #6e61ff;
$teal: #7fa6bc;
$lightgrey: #f5f5f5;

$custom-theme-colors: (
  "jonquil": $jonquil,
  "coral": $coral,
  "pullman": $pullman,
  "moss": $moss,
  "ash": $ash,
  "pine": $pine,
  "blue": $blue,
  "teal": $teal,
  "lightgrey": $lightgrey,
);
