<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Der gik noget galt</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body class="bg-ash">
    <div class="container my-5">
      <div class="row my-5">
        <div class="col mt-5">
          <h1 class="text-center">500</h1>
          <p class="text-center mt-3">
            Der gik desværre noget galt.<br />
            Vi er blevet gjort opmærksomme på fejlen og gør vores bedste for udbedre den.
          </p>
          <div class="d-flex justify-content-center">
            <a class="btn btn-light border border-2 border-dark brutalist-shadow" href="/">Tilbage til forsiden</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
