<!-- * Toast -->
<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 9999">
  <div class="toast bg-light border border-2 brutalist-shadow border-dark" id="successToast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <svg
        class="bd-placeholder-img rounded me-2"
        width="20"
        height="20"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >
        <rect width="100%" height="100%" fill="#339615"></rect>
      </svg>
      <strong class="me-auto">Det er bare ding-dong</strong>
      <small id="timing">Netop nu></small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <div class="mt-2 pt-2 border-top">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Luk</button>
      </div>
    </div>
  </div>
</div>

<!-- * Toast -->
<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 9999">
  <div class="toast bg-light border border-2 brutalist-shadow border-dark" id="warningToast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <svg
        class="bd-placeholder-img rounded me-2"
        width="20"
        height="20"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >
        <rect width="100%" height="100%" fill="#880808"></rect>
      </svg>
      <strong class="me-auto">Fejl</strong>
      <small id="timing">Netop nu</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">Vores praktikant, Kenneth, faldt i søvn ved skrivebordet og ødelagde ved et uheld vores server. Prøv igen senere.</div>
  </div>
</div>
